body{
    background-color: #fef8ef;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    display: flex;
    flex-direction: column;
    margin: 40px 120px 40px 120px; 
}

header { 
    display: flex;
    padding: 10px;
    justify-content:space-between;
}

#title {
    color: #8e877b;
    font-size: 12pt;
    width: 240px;
}

#logo {
    text-align: center;
    color: #8e877b;
}

#logo img{
    display: block;
    width : 65px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    float: right;
}

li {
    float: left;
}

li a{
    display: block;
    color: #8e877b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 12pt;
}

li a:hover {
    background-color: #58554d;
    color:white;
    border-radius: 30px;
    cursor: pointer;

}


main h1{
    text-align: center;
    font-size: 30pt;
    color:#3d3b36;
}

#desc{
    text-align: center;
    font-size:15pt;
    color:#3d3b36;
    
}

#main-button{
    text-align: center;
}

button{
    background-color: transparent;
    border-style: solid;
    color:#ef8759;
    cursor: pointer;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive
}

#main-button button{
    border: 5px solid #ef8759;
    border-radius: 20px;
    height: 60x;
    font-size: 16pt;
    padding: 10px 20px;
}

button:hover{
    background-color: #ef8759;
    color: white;
}

button:active{
    background-color: lightcoral;
    transform: translateY(2px);
}

.main-title{
    text-align: center;
}

.main-content{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.main-flex-container{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-evenly;
}

.main-title{
    font-size: 18pt;
}

.main-image{
    margin: 60px; 
}

.main-form{
    margin: auto;
    padding : 70px;
}

.main-info{
    font-size: 12pt;
}

.equation {
    color:#3d3b36;
    font-weight: bold;
    font-size: 16pt;
    border: 2px solid #ef8759;
    border-radius: 10px;
    padding: 10px;
    width:200px;
    margin:auto;
    text-align: center;
}

.main-content >div{
    padding: 10px;
}

.form-button button{
    margin-top: 15px;
    border: 2px solid #ef8759;
    border-radius: 10px;
    height: 30x;
    font-size: 12pt;
    padding: 10px 20px;
}

.side-label{
    margin-top: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.input-form {
    margin-top: 10px;
    outline: none;
    border-radius: 4px;
    border: solid pink;
    padding: 10px;
    width: 160px;
    margin-bottom: 10px;
}

.input-form:focus {
    border: solid aqua;
}

.input-section {
    display: flex;
    flex-direction: row;
}

.alert-warning{
    font-size:12px;
    color:red;
}

div#keliling-persegi {    
    display:none;
}



@media only screen and (max-width: 600px) {
    
    #logo{
        display:none;
    }

    #title{
        display:none;
    }

    nav{
        display:none;
    }

    main h1{
        text-align: center;
        font-size: 20pt;
        color:#3d3b36;
    }
    
    #desc{
        text-align: center;
        font-size:10pt;
        color:#3d3b36;
        
    }
    

    body {
        margin: 30px;
    }

    header {
        flex-direction: column;
    }

    #title {
        width: 100%;
    }

    .main-title{
        font-size: 12pt;
    }

    li {
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }

    li a {
        padding: 10px;
    }

    .main-flex-container{
        display: flex;
        flex-direction: column;
    }

    .main-form{
        padding : 20px;
        margin: auto;
    }

    .main-image{
        margin: auto; 
    }

    .main-image img{
        width:200px;
    }

    .input-section {
        display: block;
    }
    
    .form-button{
        display: flex;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
        margin: 30px;
    }

    .main-flex-container{
        display: flex;
        flex-direction: column;
    }

    .main-form{
        padding : 20px;
        margin: auto;
    }

    .main-image{
        margin: auto; 
    }

    .main-image img{
        width:200px;
    }

    .input-section {
        display: block;
    }
    
    .form-button{
        display: flex;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    body {
        margin: 40px;
    }
}

